    <form action="{{ path('admin_search_user_form', {'page': 1}) }}" method="POST">
        <div class="input-group input-group-md">
            {{ form_widget(form.fieldsearch) }}
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </form>
