{{ render(controller('AppBundle:Front:modalContact')) }}
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center">

                <a href="{{ path('homepage') }}" class="nav-link">@2017 AssocNet&nbsp</a> |&nbsp
                <a href="{{ path('legal_notice') }}" class="nav-link">Mentions Légales</a>&nbsp |&nbsp
                <a href="#" data-toggle="modal" data-target="#modalContact" >Contact</a>&nbsp |&nbsp

                <a href="#" class="nav-link"><i class="fa fa-pinterest fa-lg"></i>&nbsp </a>
                <a href="#" class="nav-link"><i class="fa fa-instagram fa-lg"></i>&nbsp </a>
                <a href="#" class="nav-link"><i class="fa fa-twitter fa-lg"></i>&nbsp </a>
                <a href="#" class="nav-link"><i class="fa fa-facebook fa-lg"></i>&nbsp </a>
                <a href="#" class="nav-link"><i class="fa fa-skype fa-lg"></i>&nbsp </a>

            </div>

        </div>
    </div>
</footer>


