<div class="jumbotron" id="header">

    <img class="landing_logo" src="{{ asset('images/logo.gif') }}" alt="logo">
    <h1 class="cursive">AssocNet.com</h1>

    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-xs-12 landing_box_child">

                    <i class="fa fa-user fa-5x" aria-hidden="true" style="color: greenyellow"></i>
                    <h4>Vous êtes membre d'un association ou désirez le devenir</h4>
                    <p>Rechercher une association avec notre annuaire.
                    </p>

            </div>

            <div class="col-lg-2">
            </div>

            <div class="col-lg-5 col-xs-12 landing_box_child">
                <i class="fa fa-users fa-5x" aria-hidden="true" style="color: greenyellow"></i>
                <h4>Vous représentez une association</h4>
                <p>
                    Créer facilement une présence sur internet pour votre association.<br>
                    Simple, Rapide et Gratuit!<br>
                </p>
            </div>

        </div>
    </div>
    <p class="lead">
        <br><br>
        <a class="btn btn-info btn-lg" href="{{ path('front') }}" role="button">Accès au site</a>
    </p>
</div>
