<div class="panel panel-info">
    <div class="panel-heading"><H4 class="text-center" style="margin: 0px">Infos</H4></div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <p class="text-center">
                    <strong>AssocNet.com est un outil gratuit, participatif et ouvert à toutes les associations Francophones souhaitant présenter leur activité.</strong>
                    <br>
                </p>
                <hr>
                <h4 class="text-center">Vous représentez une Association !</h4>
                <p class="text-center">
                    Vous avez la possibilité d'entrer votre association dans l'annuaire. Pour cela, il vous suffit de vous inscrire et de remplir un simple formulaire.<br>
                    Créez votre page vitrine, <strong>Simplement, Rapidement, Gratuitement</strong> et sans connaissances informatiques.<br>
                    Vous aurez à disposition un lien, que vous pourrez utiliser sans passer par notre site.<br>
                </p>
                <hr>
                <h4 class="text-center">Vous cherchez une Association !</h4>
                <p class="text-center">
                    Trouvez rapidement une association dans votre région grâce à notre annuaire.<br>
                </p>
            </div>
        </div>
    </div>
</div>
